if CUST_PANTECH_H

#
# Pantech Cust feature section
#
menu "Pantech Cust Feature Section"

config PANTECH_ERR_CRASH_LOGGING
	bool

config PANTECH_FS_AUTO_REPAIR
	bool

config PANTECH_PMIC
	bool

config PANTECH_PMIC_PWRKEY
	bool

config PANTECH_PMIC_RESET_REASON
	bool

config PANTECH_PMIC_BUTTON_POWERONOFF
	bool

config PANTECH_LEDS_PM8XXX
	bool

config PANTECH_VIBRATOR
	bool

config PANTECH_SND
	bool "PANTECH SOUND CONFIGS"
	default n
	help
	  Support Pantech Sound configs

endmenu # PANTECH Cust feature section

endif # CUST_PANTECH_H
