if CUST_PANTECH_H

#
# Pantech Cust feature section
#
menu "Pantech Cust Feature Section"

config PANTECH
	bool "PANTECH EXTRA CONFIG"
	default y
	help
	  Use this config to add codes or avoid orphan codes, that's
	  not labeled with a: CONFIG or FEATURE

config PANTECH_ERR_CRASH_LOGGING
	bool

config PANTECH_SDCARD_HIGH_VOLTAGE_FIX
	bool

config PANTECH_FS_AUTO_REPAIR
	bool

config PANTECH_PMIC
	bool

config PANTECH_PMIC_PWRKEY
	bool

config PANTECH_PMIC_RESET_REASON
	bool

config PANTECH_PMIC_BUTTON_POWERONOFF
	bool

config PANTECH_LEDS_PM8XXX
	bool

config PANTECH_VIBRATOR
	bool

# SD CARD
config PANTECH_NO_EMMC_SDCARD
	bool

config PANTECH_MMC
	bool

config PANTECH_SND
	bool "PANTECH SOUND CONFIGS"
	default n
	help
	  Support Pantech Sound configs

endmenu # PANTECH Cust feature section

endif # CUST_PANTECH_H
